ex00/.idea/
ex00/Cinema/.idea/
ex00/Cinema/target/
ex00/Cinema/Cinema.iml
ex01/.idea/
ex01/Cinema/.idea/
ex01/Cinema/target/
ex01/Cinema/Cinema.iml
ex02/.idea/
ex02/Cinema/.idea/
ex02/Cinema/target/
ex02/Cinema/Cinema.iml

